```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db

# Dependencies
node_modules/
venv/
.venv/

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
```